.container-footer{
    background-color: #6BAFB5;
    height: 84px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.by{
    font-size:1.5rem;
    text-decoration: none;
    color: black;
    justify-content: center;
}

a{
    color: black;
}